@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al administrador</h1>
    <p>Seleccione en el menú la categoría que desea administrar</p>
</div>
