@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>Confirmación de cambio de contraseña</h2>
<p>
    La contraseña ha sido cambiada correctamente .
</p>
